<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders Display</title> 
    <link rel="stylesheet" href="styles.css">
</head>
    {# when {{}} whatever inside python #}
</head>
<body>
    <h1>Order details</h1>
     <p> Name:{{apple.customer_name}}</p>
    <p> Flavour:{{apple.flavour}}</p>
    <p>Quantity:{{apple.quantity}}</p>
    <p>Topping:{{apple.topping|join(", ")}}</p>
   

</body>
</html>